@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#111;
  color:#fff;
  font-family: 'Droid Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Droid Sans', sans-serif;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.newContainer {
  border: 1px solid black;
}

.active {
  background-color:#333;
}
.inactive {
}

.newsItemContainer {
    padding: 5px;
    border-bottom: 1px solid #555;
  position:relative;
}
.newsItemContainer {
  position:absolute;
}
.newsItemContainer {
  position:relative;
  padding-top:15px;
}
.newsItemContainer h6 {
padding-top: 40px;
vertical-align: top;
z-index: 5;
position: relative;
}
.newsItemContainer h4 {
background: linear-gradient(to top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 15px,rgba(0,0,0,0.9) 30px,rgba(0,0,0,1) 100%);
padding-bottom: 30px;
position: absolute;
z-index: 2;
top: 0;
width: 100%;
}
.newsItemContainer img {
float: left;
position: relative;
margin-right: 10px;
vertical-align: top;
margin-top: 14px;
}

.add-button {
  position:fixed;
  z-index:10;
  bottom:10px;
  left:10px;
  font-size: 29px;
}