<div class="row marketing">
    <select class="form-control" ng-model="catid" ng-options="c.value as c.name for c in catList" ng-change="goToCategory()"></select>
    <div ng-class="{showing: isLoading}" class="loading-icon"></div>

    <div ng-repeat="item in newsList" ng-class="{true: 'active', false: 'inactive'}[item.isActive]" ng-click="highlightMe($index)" class="newsItemContainer">
	    <div>
	    	<h4>{{item.headline}} - <span class="small">{{item.stringDate}}</span></h4>
    		<img src="data:image/gif;base64,{{item.smallImage}}" />
	        <h6>{{item.excerpt}}</h6>
	        <div style="clear:both"></div>
	    </div>
    </div>
</div>
<button ng-click="btnAdd()" class="add-button btn">Add to case</button>
<!-- <button ng-click="saveBtn()" class=" btn">Save to case</button> -->