<div>
    <div ng-include="'partials/desktoptabs'"></div>
</div>
<div>

    <div class="jumbotron" ui-view>
    	asdf
        <!-- <button ng-click="btnAdd()">Add to case</button> -->

        <!-- <div ng-click='addAnother()' class='btn btn-lg btn-success'>Add!</div> -->
        <!-- <h4>{{foo}}</h4> -->
        <!-- <div ng-repeat="thing in newsList" ng-class="{true: 'active', false: 'inactive'}[thing.isActive]" ng-click="highlightMe($index)" class="newContainer"> -->
        <!-- <h4>{{thing.name}}</h4> -->
        <!-- {{thing.clickedClass}} -->
        <!-- <p>{{thing.info}}</p> -->
    </div>
</div>
