<div ng-include="'partials/navbar'"></div>

<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div> -->

<div class="row marketing">
  <div ng-repeat="thing in newsList" ng-class="{true: 'active', false: 'inactive'}[thing.isActive]" ng-click="highlightMe($index)" class="newContainer">
      <h4>{{thing.name}}</h4>
      {{thing.clickedClass}}
      <!-- <p>{{thing.info}}</p> -->
  </div>
</div>
<button ng-click="btnAdd()">Add to case</button>
<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
